#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Labels to add to all resources and selectors.
#commonLabels:
#  someName: someValue

# Annotations to add to all resources
#commonAnnotations:
#  someName: someValue

generatorOptions: {}

configMapGenerator:
- envs:
  - rp/config.env
  name: rp-env
- files:
  - rp/config.json
  name: rp-config

secretGenerator:
- envs:
  - rp/secret.env
  name: rp-env-secret

resources:
- rp/deployment.yml
- rp/service.yml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: rp-adapter
  newName: ghcr.io/trustbloc-cicd/rp-adapter
  newTag: 0.1.9-snapshot-79c1e8f
