#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Adds namespace to all resources.
#namespace: edge-sandbox-system

# Value of this field is prepended to the
# names of all resources, e.g. a deployment named
# "wordpress" becomes "alices-wordpress".
# Note that it should also match with the prefix (text before '-') of the namespace
# field above.
namePrefix: hub-
commonLabels:
  component: hub-auth
  group: core
  project: trustbloc


apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

secretGenerator:
- behavior: merge
  envs:
  - hydra/hydra-secret.env
  name: hydra-secret
- behavior: merge
  envs:
  - auth-secret.env
  name: auth-env-secret

configMapGenerator:
- behavior: merge
  envs:
  - auth.env
  name: auth-env
- behavior: replace
  files:
  - providers.yml=auth-config.yml
  name: auth-config
- behavior: merge
  envs:
  - hydra/hydra-env.env
  name: hydra-env

resources:
- ../../base

transformers:
- sedtransform.yml
- sedb64transform.yml

components:
- ../../components/hydra
