#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

[
  {
    "id": "profile-management",
    "upstream": {
      "url": "http://vcs"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/<issuer|verifier>/profiles<.*>",
      "methods": [
        "GET",
        "POST",
        "PUT",
        "DELETE"
      ]
    },
    "authenticators": [
      {
        "handler": "oauth2_introspection",
        "config": {
          "required_scope": [
            "org_admin"
          ]
        }
      }
    ],
    "mutators": [
      {
        "handler": "header",
        "config": {
          "headers": {
            "X-User": "{{ print .Subject }}",
            "X-API-Key": "rw_token"
          }
        }
      }
    ],
    "authorizer": {
      "handler": "allow"
    }
  },
  {
    "id": "dev-interactions-authorization-response",
    "upstream": {
      "url": "http://vcs"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/verifier/interactions/authorization-response",
      "methods": ["POST"]
    },
    "authenticators": [{
      "handler": "noop"
    }],
    "mutators": [{
      "handler": "noop"
    }],
    "authorizer": {
      "handler": "allow"
    }
   },
   {
     "id": "dev-request-object",
     "upstream": {
       "url": "http://vcs"
     },
     "match": {
       "url": "http://api-gateway.||DOMAIN||/request-object/<.*>",
       "methods": ["GET"]
     },
     "authenticators": [{
       "handler": "noop"
     }],
     "mutators": [{
       "handler": "noop"
     }],
     "authorizer": {
       "handler": "allow"
     }
   }
]
