#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

[
  {
    "id": "issuer-credential-management",
    "upstream": {
      "url": "http://vcs-awskms"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/issuer/profiles/<.*>/<.*>/credentials/<.*>",
      "methods": [
        "OPTIONS",
        "POST"
      ]
    },
    "authenticators": [
      {
        "handler": "oauth2_introspection",
        "config": {
          "required_scope": [
            "org_admin"
          ]
        }
      }
    ],
    "mutators": [
      {
        "handler": "header",
        "config": {
          "headers": {
            "X-Tenant-ID": "{{ print .Subject }}",
            "X-API-Key": "rw_token"
          }
        }
      }
    ],
    "authorizer": {
      "handler": "allow"
    }
  },
  {
    "id": "verifier-credential-verify",
    "upstream": {
      "url": "http://vcs-awskms"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/verifier/profiles/<.*>/<.*>/credentials/verify",
      "methods": [
        "OPTIONS",
        "POST"
      ]
    },
    "authenticators": [
      {
        "handler": "oauth2_introspection",
        "config": {
          "required_scope": [
            "org_admin"
          ]
        }
      }
    ],
    "mutators": [
      {
        "handler": "header",
        "config": {
          "headers": {
            "X-Tenant-ID": "{{ print .Subject }}",
            "X-API-Key": "rw_token"
          }
        }
      }
    ],
    "authorizer": {
      "handler": "allow"
    }
  },
  {
    "id": "oidc4vp-initiate-oidc",
    "upstream": {
      "url": "http://vcs-awskms"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/verifier/profiles/<.*>/<.*>/interactions/initiate-oidc",
      "methods": [
        "OPTIONS",
        "POST"
      ]
    },
    "authenticators": [
      {
        "handler": "oauth2_introspection",
        "config": {
          "required_scope": [
            "org_admin"
          ]
        }
      }
    ],
    "mutators": [
      {
        "handler": "header",
        "config": {
          "headers": {
            "X-Tenant-ID": "{{ print .Subject }}",
            "X-API-Key": "rw_token"
          }
        }
      }
    ],
    "authorizer": {
      "handler": "allow"
    }
  },
  {
    "id": "oidc4vp-interactions-claims",
    "upstream": {
      "url": "http://vcs-awskms"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/verifier/interactions/<.*>/claim",
      "methods": [
        "OPTIONS",
        "GET"
      ]
    },
    "authenticators": [
      {
        "handler": "oauth2_introspection",
        "config": {
          "required_scope": [
            "org_admin"
          ]
        }
      }
    ],
    "mutators": [
      {
        "handler": "header",
        "config": {
          "headers": {
            "X-Tenant-ID": "{{ print .Subject }}",
            "X-API-Key": "rw_token"
          }
        }
      }
    ],
    "authorizer": {
      "handler": "allow"
    }
  },
  {
    "id": "dev-interactions-authorization-response",
    "upstream": {
      "url": "http://vcs-awskms"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/verifier/interactions/authorization-response",
      "methods": [
        "OPTIONS",
        "POST"
      ]
    },
    "authenticators": [{
      "handler": "noop"
    }],
    "mutators": [{
      "handler": "noop"
    }],
    "authorizer": {
      "handler": "allow"
    }
  },
  {
    "id": "dev-request-object",
    "upstream": {
      "url": "http://vcs-awskms"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/request-object/<.*>",
      "methods": ["OPTIONS","GET"]
    },
    "authenticators": [{
      "handler": "noop"
    }],
    "mutators": [{
      "handler": "noop"
    }],
    "authorizer": {
      "handler": "allow"
    }
  },
  {
    "id": "oidc4vc-initiate-oidc",
    "upstream": {
      "url": "http://vcs-awskms"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/issuer/profiles/<.*>/<.*>/interactions/initiate-oidc",
      "methods": [
        "OPTIONS",
        "GET",
        "POST"
      ]
    },
    "authenticators": [
      {
        "handler": "oauth2_introspection",
        "config": {
          "required_scope": [
            "org_admin"
          ]
        }
      }
    ],
    "mutators": [
      {
        "handler": "header",
        "config": {
          "headers": {
            "X-Tenant-ID": "{{ print .Subject }}",
            "X-API-Key": "rw_token"
          }
        }
      }
    ],
    "authorizer": {
      "handler": "allow"
    }
  },
  {
    "id": "oidc4vc-public-oidc-endpoints",
    "upstream": {
      "url": "http://vcs-awskms"
    },
    "match": {
      "url": "http://api-gateway.||DOMAIN||/oidc/<.*>",
      "methods": [
        "OPTIONS",
        "GET",
        "POST"
      ]
    },
    "authenticators": [{
      "handler": "noop"
    }],
    "mutators": [{
      "handler": "noop"
    }],
    "authorizer": {
      "handler": "allow"
    }
  },
    {
      "id": "openid-configuration-endpoint",
      "upstream": {
        "url": "http://vcs-awskms"
      },
      "match": {
        "url": "http://api-gateway.||DOMAIN||/issuer/<.*>/<.*>/.well-known/openid-configuration",
        "methods": [
          "OPTIONS",
          "GET"
        ]
      },
      "authenticators": [{
        "handler": "noop"
      }],
      "mutators": [{
        "handler": "noop"
      }],
      "authorizer": {
        "handler": "allow"
      }
    },
    {
      "id": "openid-configuration-endpoint-issuer",
      "upstream": {
        "url": "http://vcs-awskms"
      },
      "match": {
        "url": "http://api-gateway.||DOMAIN||/issuer/<.*>/<.*>/.well-known/openid-credential-issuer",
        "methods": [
          "OPTIONS",
          "GET"
        ]
      },
      "authenticators": [{
        "handler": "noop"
      }],
      "mutators": [{
        "handler": "noop"
      }],
      "authorizer": {
        "handler": "allow"
      }
    },
    {
        "id": "issuer-credential-management-localkms",
        "upstream": {
          "url": "http://vcs-localkms",
          "strip_path": "/vcs-localkms"
        },
        "match": {
          "url": "http://api-gateway.||DOMAIN||/vcs-localkms/issuer/profiles/<.*>/<.*>/credentials/<.*>",
          "methods": [
            "OPTIONS",
            "POST"
          ]
        },
        "authenticators": [
          {
            "handler": "oauth2_introspection",
            "config": {
              "required_scope": [
                "org_admin"
              ]
            }
          }
        ],
        "mutators": [
          {
            "handler": "header",
            "config": {
              "headers": {
                "X-Tenant-ID": "{{ print .Subject }}",
                "X-API-Key": "rw_token"
              }
            }
          }
        ],
        "authorizer": {
          "handler": "allow"
        }
      },
      {
        "id": "verifier-credential-verify-localkms",
        "upstream": {
          "url": "http://vcs-localkms",
          "strip_path": "/vcs-localkms"
        },
        "match": {
          "url": "http://api-gateway.||DOMAIN||/vcs-localkms/verifier/profiles/<.*>/<.*>/credentials/verify",
          "methods": [
            "OPTIONS",
            "POST"
          ]
        },
        "authenticators": [
          {
            "handler": "oauth2_introspection",
            "config": {
              "required_scope": [
                "org_admin"
              ]
            }
          }
        ],
        "mutators": [
          {
            "handler": "header",
            "config": {
              "headers": {
                "X-Tenant-ID": "{{ print .Subject }}",
                "X-API-Key": "rw_token"
              }
            }
          }
        ],
        "authorizer": {
          "handler": "allow"
        }
      },
      {
        "id": "oidc4vp-initiate-oidc-localkms",
        "upstream": {
          "url": "http://vcs-localkms",
          "strip_path": "/vcs-localkms"
        },
        "match": {
          "url": "http://api-gateway.||DOMAIN||/vcs-localkms/verifier/profiles/<.*>/<.*>/interactions/initiate-oidc",
          "methods": [
            "OPTIONS",
            "POST"
          ]
        },
        "authenticators": [
          {
            "handler": "oauth2_introspection",
            "config": {
              "required_scope": [
                "org_admin"
              ]
            }
          }
        ],
        "mutators": [
          {
            "handler": "header",
            "config": {
              "headers": {
                "X-Tenant-ID": "{{ print .Subject }}",
                "X-API-Key": "rw_token"
              }
            }
          }
        ],
        "authorizer": {
          "handler": "allow"
        }
      },
      {
        "id": "oidc4vp-interactions-claims-localkms",
        "upstream": {
          "url": "http://vcs-localkms",
          "strip_path": "/vcs-localkms"
        },
        "match": {
          "url": "http://api-gateway.||DOMAIN||/vcs-localkms/verifier/interactions/<.*>/claim",
          "methods": [
            "OPTIONS",
            "GET"
          ]
        },
        "authenticators": [
          {
            "handler": "oauth2_introspection",
            "config": {
              "required_scope": [
                "org_admin"
              ]
            }
          }
        ],
        "mutators": [
          {
            "handler": "header",
            "config": {
              "headers": {
                "X-Tenant-ID": "{{ print .Subject }}",
                "X-API-Key": "rw_token"
              }
            }
          }
        ],
        "authorizer": {
          "handler": "allow"
        }
      },
      {
        "id": "dev-interactions-authorization-response-localkms",
        "upstream": {
          "url": "http://vcs-localkms",
          "strip_path": "/vcs-localkms"
        },
        "match": {
          "url": "http://api-gateway.||DOMAIN||/vcs-localkms/verifier/interactions/authorization-response",
          "methods": ["OPTIONS","POST"]
        },
        "authenticators": [{
          "handler": "noop"
        }],
        "mutators": [{
          "handler": "noop"
        }],
        "authorizer": {
          "handler": "allow"
        }
      },
      {
        "id": "dev-request-object-localkms",
        "upstream": {
          "url": "http://vcs-localkms",
          "strip_path": "/vcs-localkms"
        },
        "match": {
          "url": "http://api-gateway.||DOMAIN||/vcs-localkms/request-object/<.*>",
          "methods": ["OPTIONS","GET"]
        },
        "authenticators": [{
          "handler": "noop"
        }],
        "mutators": [{
          "handler": "noop"
        }],
        "authorizer": {
          "handler": "allow"
        }
      },
      {
        "id": "oidc4vc-initiate-oidc-localkms",
        "upstream": {
          "url": "http://vcs-localkms",
          "strip_path": "/vcs-localkms"
        },
        "match": {
          "url": "http://api-gateway.||DOMAIN||/vcs-localkms/issuer/profiles/<.*>/<.*>/interactions/initiate-oidc",
          "methods": [
            "OPTIONS",
            "GET",
            "POST"
          ]
        },
        "authenticators": [
          {
            "handler": "oauth2_introspection",
            "config": {
              "required_scope": [
                "org_admin"
              ]
            }
          }
        ],
        "mutators": [
          {
            "handler": "header",
            "config": {
              "headers": {
                "X-Tenant-ID": "{{ print .Subject }}",
                "X-API-Key": "rw_token"
              }
            }
          }
        ],
        "authorizer": {
          "handler": "allow"
        }
      },
      {
        "id": "oidc4vc-public-oidc-endpoints-localkms",
        "upstream": {
          "url": "http://vcs-localkms",
          "strip_path": "/vcs-localkms"
        },
        "match": {
          "url": "http://api-gateway.||DOMAIN||/vcs-localkms/oidc/<.*>",
          "methods": [
            "OPTIONS",
            "GET",
            "POST"
          ]
        },
        "authenticators": [{
          "handler": "noop"
        }],
        "mutators": [{
          "handler": "noop"
        }],
        "authorizer": {
          "handler": "allow"
        }
      },
        {
          "id": "openid-configuration-endpoint-localkms",
          "upstream": {
            "url": "http://vcs-localkms",
            "strip_path": "/vcs-localkms"
          },
          "match": {
            "url": "http://api-gateway.||DOMAIN||/vcs-localkms/issuer/<.*>/<.*>/.well-known/openid-configuration",
            "methods": [
              "OPTIONS",
              "GET"
            ]
          },
          "authenticators": [{
            "handler": "noop"
          }],
          "mutators": [{
            "handler": "noop"
          }],
          "authorizer": {
            "handler": "allow"
          }
        },
        {
          "id": "openid-configuration-endpoint-issuer-localkms",
          "upstream": {
            "url": "http://vcs-localkms",
            "strip_path": "/vcs-localkms"
          },
          "match": {
            "url": "http://api-gateway.||DOMAIN||/vcs-localkms/issuer/<.*>/<.*>/.well-known/openid-credential-issuer",
            "methods": [
              "OPTIONS",
              "GET"
            ]
          },
          "authenticators": [{
            "handler": "noop"
          }],
          "mutators": [{
            "handler": "noop"
          }],
          "authorizer": {
            "handler": "allow"
          }
        }
]
